:root {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    --transition-duration: 300ms;

}

body * {
    @apply duration-75;
}


.body {
    margin: 0;
}

.app {
    height: 100vh;
    width: 100vw;
}

/*login page
.background {
  background-image: linear-gradient(to bottom right, #710193, #1520A6);
}

.title {
  font-size: 10rem;
  font-weight: 100;
  color: white;
}

.loginButton {
  background-color: #1520A6;
} */

.menu-container {
    background-image: url(./assets/layered-waves-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* sidebar */

.w-sidebar {
    @apply w-[74px];
}

.sidebar {
    @apply h-screen;
    @apply w-sidebar;
    @apply fixed;
    @apply flex;
    @apply flex-col;
    @apply items-stretch;

    @apply bg-primary/75;
    @apply text-text-1;

    @apply backdrop-blur-[1.5px];
    @apply shadow-[-4px_0_20px_-5px];

    @apply divide-y;
    @apply divide-dotted;
    @apply divide-white;

    @apply duration-[250ms];


    scrollbar-width: none;
}

.sidebar li {
    @apply min-h-[64px];
}

.sidebar-expanded {
    /*@apply w-64;*/
    @apply w-[222px]
}

.sidebar-expanded .rotate {
    transform: rotateZ(-180deg);

}

.on-expand {
    @apply invisible;
    @apply opacity-0;
    @apply duration-[200ms];

}

.sidebar-expanded .on-expand {
    @apply visible;
    @apply opacity-100;
    transform: translateX(1rem);
}
.top-btn {
    @apply invisible;
    @apply opacity-0;
    @apply duration-[350ms];
}

.sidebar-expanded .top-btn {
    @apply visible;
    @apply opacity-100;
}

.buttons {
    @apply h-full;
    @apply overflow-y-auto;
    scrollbar-width: none;
    overflow-x: hidden;
}

.buttons::-webkit-scrollbar {
    width: 0;
}

.buttons:hover::-webkit-scrollbar {
    width: 7px;
}

.buttons:hover::-webkit-scrollbar-thumb {
    background: #4b5563;
    border-radius: 10px;
}

.settingsButton{
    @apply p-1 rounded-3xl text-sm w-20 border-2;
}

.settingsButton:hover{
    @apply bg-white;
}

.shrink{
    -webkit-transform:scale(0.5);
    -moz-transform:scale(0.5);
    -ms-transform:scale(0.5);
    transform:scale(0.5);
}

.translate{
    transform: translate(-50%, -50%);
}

.signout {
    transition: none !important;
}

/*main page*/
.messages {
    scrollbar-width: thin;
}

.messages::-webkit-scrollbar {
    width: 0px;
}


.message-input {
    scrollbar-width: none;
}

.message-input::-webkit-scrollbar {
    width: 0;
}
