@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 255, 144, 0;
        --color-secondary: 255, 255, 255;
        --color-ptext: 0, 0, 0;
        --color-warning: 219, 0, 0;
        --color-middle: 242, 242, 242;
    }

    [data-theme="dark"] {
        --color-primary: 28, 28, 38;
        --color-secondary: 6, 8, 14;
        --color-ptext: 255, 255, 255;
        --color-warning: 219, 0, 219;
        --color-middle: 44, 46, 52;

    }
    [data-theme="red"] {
        --color-primary: 68, 0, 1;
        --color-secondary: 16, 12, 18;
        --color-ptext: 255, 255, 255;
        --color-warning: 219, 0, 219;
        --color-middle: 44, 46, 52;
    }
}
